<!DOCTYPE html>
<html>
	<head>
		<title>Cal Appointments</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<style>
.bg-1 {
    background-color: #37474f; /* Navy Blue */

}
.white-text{
	color:#ffffff;
	font-size: 60px;
}
.yellow-text{
	color: #f1c232;
	font-size: 60px;
	padding-top: 300px;
}
.btn-special {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
		float: center;
		margin-left: :50px



}

</style>

	<body class="bg-1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" align="center">
					<h1 class="yellow-text">Cal<span class="white-text">Appointments</h1>
				</div>
			</div>
z
			<div class="row">
				<div class="col-md-12" align="center">
					<form action="/login" class="col-md-10" method="GET">
						<button type="submit" class="btn btn-special">Login</button>
					</form>
				</div>
			</div>


		</div>
	</body>
</html>
