<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<style>
.bg-1 {
		background-color: #37474f; /* Navy Blue */
		color:#ffffff;

}
</style>
	<body class="bg-1">

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<h1>Login</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1">

				</div>
				<form action="/login" class="col-md-10" method="POST">
					<div class="form-group">
						<label for="username">Username:</label>
						<input type="text" class="form-control" id="username" name="username">
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="text" class="form-control" id="password" name="password">
					</div>
					<div class="form-group">
						<label for="status">Status:</label>
						<input type="text" class="form-control" id="status" name="status">
					</div>

					<button type="submit" class="btn btn-default">Login</button>
				</form>
				<div class="col-md-1">

				</div>
			</div>
	</body>
</html>
