<!DOCTYPE html>
<html>
	<head>
		<title>Welcome {{username}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<style>
.bg-1 {
		background-color: #37474f; /* Navy Blue */
		color:#ffffff;

}
</style>
	<body class="bg-1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>Upcoming Appointments</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tr>
							<th>Appointment Time</th>
							<th>Appointment Date</th>
							<th>Counselor Name</th>
							<th>Room No.</th>
							</tr>
						{% for app in app_name %}
						<tr>

							<td>{{ app[0] }}</td>
							<td>{{ app[1] }}</td>
							<td>{{ app[2] }}</td>
							<td>{{ app[3] }}</td>

						</tr>
						{% endfor %}
 					</table>
				</div>
			</div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <th>05/06/2017</th>
                            </tr>
                        {% for time in available_times %}
                        <tr>

                            <td>{{ time[0] }}</td>
                            
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

          </script>
        </div>
       </div>

            <div class="row">
                <div class="col-md-1">

                </div>
                <form action={{student_id}} class="col-md-10" method="POST">
                    <div class="form-group">
                        <label for="hour">Input Hour:</label>
                        <input type="text" class="form-control" id="hour" name="hour">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="counselorID" name="counselorID" value= {{ counselor_id }}>
                    </div>
                    <button type="submit" class="btn btn-default">make appointment</button>
                </form>
                <div class="col-md-1">
                
                </div>
            </div>

      

	</body>
</html>
